<!--头部-->
<div class="head">
	<div class="main">
		<div class="fl logo">
			Leail测评 打造零触优质产品体验
			<a class="logoLinkA" href="index.html"></a>
			<a class="logoLinkB" href="" ></a>
		</div>
		<div class="login fr" id="Jlogin">		
		</div>
	</div>
</div>
<!--顶部导航-->
<div class="nav shadow">
	<div class="main">
		<div class="subNav fl">
			<a href="/">首页</a>
			<a href="{?:url('index/trialend')?}">往期测评</a>
			<!-- <a href="#">试用论坛</a>
			<a href="#">帮助与引导</a>
			<a href="#">商家入口</a> -->
		</div>
		<div class="th-b fr">
			<!-- <a href="#">赢试用攻略</a>
			<em></em>
			<a href="#">禁出售公告</a>
			<em></em>
			<a href="#">申精华专贴</a> -->
		</div>
	</div>
</div>